/* =============
    Section 4
============= */

#section-4 {
	background-color: $turquesa;







	background-image: url("../img/section-4/PlazaColon.jpg");
	background-position: center;
	background-size: cover;
	padding: 80px 0 180px;
	text-align: center;
	@include md {
		display: grid;
		grid-template-areas: ". section-4 .";
		grid-template-columns: auto 60% auto;
		padding: 120px 0 150px;
	}
	@include lg {
		grid-template-columns: auto 70% auto;
		padding: 130px 0 170px;
	}
	@include xl {
		grid-template-columns: auto 850px auto;
		padding: 165px 0 200px;
	}
